@import bootstrap

html, body
  width: 100%

a, button
  outline: none

#main-navbar  
  .navbar-toggle
    border: none
    background: none

#main-navbar
  position: fixed
  width: 100%
  top: 0
  box-shadow: 0px 1px 2px #888888

#main-container
  margin-top: 70px
  
#deviceready
  text-align: center
  
.event.label
  font-size: 1.2em
  
.received
  display: none

#compass
  background-image: url('/public/images/compass_bg.png')
  background-size: 100%
  background-repeat: no-repeat
  width: 300px
  height: 300px
  
#compass-needle
  width: 300px
  height: 300px
  margin-top: -12px
  -webkit-transition: -webkit-transform 1s ease-in
  -moz-transition: -moz-transform 1s ease-in
  -o-transition: -o-transform 1s ease-in
  transition: transform 1s ease-in