@import bootstrap

html, body
  width: 100%

#main-navbar
  position: fixed
  width: 100%
  top: 0
  box-shadow: 0px 1px 2px #888888

#main-container
  margin-top: 70px
  
#deviceready
  text-align: center
  
.event.label
  font-size: 1.2em
  
.received
  display: none